body {
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
    max-width: 1024px;
    margin: auto;
    background-image: url("../images/piePages/silverware.jpg");
    background-attachment: fixed;
}

#copyright {
    text-align: right;
}

a {
    color: #A4A400;
}

abbr[title] {
    position: relative;
    
    /* ensure consistent styling across browsers */
    text-decoration: underline dotted; 
  }
  
  abbr[title]:hover::after,
  abbr[title]:focus::after {
    content: attr(title);
    
    /* position tooltip like the native one */
    position: absolute;
    left: 0;
    bottom: -30px;
    width: auto;
    white-space: nowrap;
    
    /* style tooltip */
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    font-size: 14px;
    padding: 3px 5px;
  }

h1, h2 {
    font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
    text-decoration: underline;
    color:#A4A400;
    background-color:#F0F0F0;
    font-size: 18pt;
    font-weight: normal;
    text-align: left;
}

h1 {
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}

blockquote {
    font-style: italic;
    background-color:#FFFFA8;
}
